// Put any @imports here                              
// See Readme for a list of supported ones
@import "foundation";
@import 'bourbon';
@import 'neat';

// Glimpse Colors
$color1: #263147;
$color2: #7F8AA2;
$color3: #FD9800;
$blueBunting: #263248;
$greyLight: #9B9B9B;
$greyBackground: #8C919D;

// Layout & Background styling
html {
  height:100%;
}

body {
  background: $color2;
  margin: 15px;
  height:100%;
}

div .ng-scope {
  height:100%;
}
section .ng-scope {
  height:100%;
}

footer {
  .footer {
    width: 400px;
    margin: 0 auto;
    p {
      margin: 10px auto;
      text-align: center;
      a {
        text-decoration: none;
        color: #FFFFFF;
      }
    }
  }
}

// Login and Registration
.login {
  height:100%;
  width: 70%;
  margin: 50px auto;
  form {
    width: 40%;
    margin: 0 auto;
  }
  p {
    width: 40%;
    margin: 0 auto;
    text-align: center;
  }
}

.regForm {
  border: 1px solid $greyBackground;
  border-radius: 10px;
  background: $greyLight;
  width: 60%;
  height: 500px;
  margin-bottom: 2%;
  margin-left: 20%;

  .input {
    width: 80%;
    margin-left: 10%;
    margin-top: 25px;
    color: #fff;
  }

  .regField {
    border: none;
    border-radius: 5px;
  }

  .regBtn {
    width: 60%;
    border-radius: 10px;
    margin-left: 18%;
  }
}

// User List and Page Styling
table {
  border-collapse: collapse;
}

.userlist {
  width: 50%;
  margin: 0 auto;
  .employList {
    margin: 0 auto;
    width: 50%;
  }
  button {
    vertical-align: middle;
    margin: auto;
    padding: 10px 10px 11px 10px;
    min-width: 75px;
    font-size: 0.8em;
  }
}

.userPage {
  width: 80%;
  margin: 0 auto;
  .userinfo {
    width: 36%;
  }
  .heatmap {
    width: 36%;
  }

  // User Page 

  .chartGraph {
    position: absolute;
    top: 274px;
    left: 445px;
    width: 60%;
    height: 60%;
  }
}