// Put any @imports here                              
// See Readme for a list of supported ones
@import "foundation";

$color1   :   #263147;
$color2   :   #7F8AA2;
$color2L  :   #9da5b7;
$color3   :   #FD9800;
$color3L  :   #e48900;
$boxborder:   2px solid $color1;

// Layout & Background styling
html {
  height:100%;
}

body {
  background: $color2;
  margin: 15px;
  height:100%;
}

div .ng-scope {
  height:100%;
}
section .ng-scope {
  height:100%;
}

.top-bar {
  background-color: $color1;
  a {
    background-color: $color1;
  }
  a:hover {
    color: $color2;
  }
  img {
    max-height: 45px;
  }
}

footer {
  .footer {
    width: 400px;
    margin: 0 auto;
    p {
      margin: 10px auto;
      text-align: center;
      a {
        text-decoration: none;
        color: #FFFFFF;
      }
      a:hover {
        color: $color2;
      }
    }
  }
}

// Login and Registration
.login {
  height:100%;
  width: 70%;
  margin: 50px auto;
  form {
    width: 40%;
    margin: 0 auto;
    border: $boxborder;
    padding: 25px;
    border-radius: 5px;
    background-color: $color2L;

    button {
      display: block;
      border-radius: 5px;
      margin: 0 auto;
      background-color: $color3;
    }

    button:hover {
      border-radius: 0;
      background-color: $color3L;
    }
  }
  p {
    width: 40%;
    margin: 0 auto;
    text-align: center;
  }
}

.regWrap {
  width: 100%;
  height: 100%;
  form {
    width: 50%;
    margin: 20px auto;
    padding: 25px;
    border: $boxborder;
    border-radius: 5px;
    background-color: $color2L;

    label {
      margin: 10px 40px 10px 40px;
    }

    button {
      display: block;
      border-radius: 5px;
      margin: 0 auto;
      background-color: $color3;
    }

    button:hover {
      border-radius: 0;
      background-color: $color3L;
    }
  }
}

// User List and Page Styling
table {
  border-collapse: collapse;
}

.userlist {
  width: 50%;
  margin: 0 auto;
  .employList {
    margin: 0 auto;
    width: 50%;
  }
  button {
    vertical-align: middle;
    margin: auto;
    padding: 10px 10px 11px 10px;
    min-width: 75px;
    font-size: 0.8em;
  }
}

.userPage {
  width: 80%;
  margin: 0 auto;
  .userinfo {
    width: 36%;
  }
  .heatmap {
    width: 36%;
  }
}