<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/">WorkTrackSlack</a></h1>
    </li>
  </ul>

  <section class="top-bar-section" ng-controller="NavController">
    <ul class="right">
      <li><a href="#/">Login</a></li>
      <li><a href="#/userlist">Profile</a></li>
      <li><a href="#" ng-click="logmeout()">Logout</a></li>
    </ul>
  </section>
</nav>

<!-- <aside class="users" ui-view="user"></aside> -->

<section class="container" ui-view></section>

<footer class="top-bar">
  <div class="footer">
    <p><a href="http://www.herokuapp.com">Slackathon</a> &copy; 2015</p>
  </div>
</footer>