<div class="userPage">
  <div class="userInfo">
    <h3>Employee #{{employee.id}} {{employee.name}}</h3>
    <ul>
      <li>Last Check-in: {{ checkin.timeout}}</li>
      <li>Last Location: {{ checkin.location }}</li>
    </ul>
  </div>
  <div class="heatmap"></div>
  <div class="userHistory">
    <h3>Check-in History</h3>
    <table>
      <tr>
        <th>Location</th>
        <th>Check-in Time</th>
        <th>Check-Out Time</th>
      </tr>
      <tr ng-repeat="checkin in checkins">
        <td>checkin.location</td>
        <td>checkin.timein</td>
        <td>checkin.timeout</td>
      </tr>
    </table>
  </div>
</div>