<div class="userlist">
  <div class="employList">
    <h2>List of Employees</h2>
      <table class="employees">
        <tr>
          <th>Employee ID</th>
          <th>Name</th>
          <th>Last Check-in</th>
          <th>Last Location</th>
          <th></th>
        </tr>
        <tr ng-repeat="employee in employees">
          <td><a href="/users/{{ employee.id }}">{{ employee.id }}</a></td>
          <td><a href="/users/{{ employee.id }}">{{ employee.name }}</a></td>
          <td>Last Check-in</td>
          <td>Last Location</td>
          <td><button ng-click="viewUser()">View User</button></td>
        </tr>
      </table>
  </div>
</div>