<div class="userlist">
  <div class="employList">
    <h2>List of Employees</h2>
      <table class="employees">
        <tr>
          <th>Employee ID</th>
          <th>Name</th>
          <th>Last Check-in</th>
          <th>Last Location</th>
          <th></th>
        </tr>
        <tr ng-repeat="user in users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.last_checkin_time }}</td>
          <td>{{ user.last_checkin_place }}</td>
          <td><button ng-click="viewUser(user.id)">View User</button></td>
        </tr>
      </table>
  </div>
</div>

<canvas id="polar-area" class="chart chart-polar-area"
  chart-data="data" chart-labels="labels">
</canvas> 