<div class="userlist">
  <div class="employList">
    <h2>List of Employees</h2>
      <table class="employees">
        <tr>
          <th>Employee ID</th>
          <th>Name</th>
          <th>Edit User</th>
        </tr>
        <tr ng-repeat="employee in employees">
          <td><a href="{{URL}}/user/{{ employee.userid }}">{{ employee.userid }}</a></td>
          <td><a href="{{URL}}/user/{{ employee.userid }}">{{ employee.name }}</a></td>
          <td><button ng-click="viewUser">View User</button></td>
        </tr>
      </table>
  </div>
</div>